NEXT_PUBLIC_FRONTEND=your_nextjs_app_url

NEXT_PUBLIC_USER_BACKEND_URL=your_user_service_server
NEXT_PUBLIC_COURSE_BACKEND_URL=your_course_service_server
NEXT_PUBLIC_EXAM_BACKEND_URL=your_exam_service_server
NEXT_PUBLIC_PROGRESS_BACKEND_URL=your_learning_progress_service_server